footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-button__icon {
  background-color: #3949AB;
  color: whitesmoke;
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  /*transform: rotate(-50deg);*/
  transition: all 160ms ease-in-out;
  cursor: pointer;
}
.menu-button__icon i {
  transition: opacity 160ms ease-in-out;
}
.menu-button__icon #close-icon {
  opacity: 0;
  position: absolute;
}
.menu-button__icon .fb-msng-icon {
  transition: opacity 160ms ease-in-out;
  opacity: 1;
}
.menu-button__icon.menu-btn__opend #close-icon {
  opacity: 1;
}
.menu-button__icon.menu-btn__opend .fb-msng-icon {
  opacity: 0;
}

.menu-btn__opend {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 32px rgba(0, 0, 0, 0.26);
}

.menu {
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 85px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  text-align: center;
  width: 500px;
}

@media screen and (max-width: 736px) {
  .menu {
    width: 300px;
  }
}

.menu a {
  width: 140px;
  height: 60px;
  display: inline-block;
  color: #fff;
}
.menu .menu-button {
  background-color: #3476FF !important;
  border-radius: 30% !important;
}
.menu .menu-button-icon {
  position: relative;
  top: -10px;
}
.menu--close {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 15px;
  cursor: pointer;
}
.menu__opend {
  pointer-events: all;
  transform: translateY(0px);
  opacity: 1;
}
