`<div id="menu" class="menu">
    <md-content layout-padding>
        <!-- <md-button class="md-primary md-raised" ng-repeat="item in vm.menu" ui-sref="{{item.ref}}">{{item.title}}</md-button> -->

<!--         <md-icon ng-repeat="item in vm.menu" ui-sref="{{item.ref}}" class="fa fa-{{item.icon}} fa-4x" aria-hidden="true"></md-icon> -->
    <md-content>
</div>

<md-button id="menu-btn" class="md-primary md-fab menu-button__icon">
    <i class="fb-msng-icon fa fa-bars fa-4x" aria-hidden='true'></i>
    <i id="close-icon" class="fb-msng-icon fa fa-close fa-4x" aria-hidden='true'></i>
</md-button>
